html {
    font-family: 'main_font', sans-serif;
    font-variant: small-caps;
}

body {
    font-family: 'main_font', sans-serif;
    color:#fefefe;

    background-color: #111;
    background-image: url("/static/img/background.jpg");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'main_font', sans-serif;
    font-weight: 500;
    text-align: center;
}

.fixed-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.1rem;
    text-align: center;
}
