[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sanic = "*"
sanic_session = "*"
sanic-jinja2 = "*"
alchimia = "*"

[requires]
python_version = "3.6"
